html,
body {
    height: 100%;
}

header{
    margin: 0 0 30px;
    height: 140px;
}

.btn-characteristiks{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    outline: none;
}

.btn-up{
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
}

.border{
    border: double; 
    border-color: #B22222;
}

.border-none{
    border: none;
}


.margin-breadcrumb{
    margin-top: -20px;
}

.max-img{
    max-height: 140px;
    max-width: 140px;
}

.max-size-reklama{ 
    max-height: 140px;
    max-width: 100%;
}

.max-img-product{
    max-height: 500px;
    max-width: 1500px;
}

button.btn-pay{
    margin-right: -5px;
    text-decoration:none; 
    text-align:center; 
    padding:11px 29px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:38px 0px 0px 38px; 	 				 
    border-radius: 38px 0px 0px 38px; 					
    -moz-border-radius-topleft:38px; 					
    -moz-border-radius-topright:0px; 					
    -moz-border-radius-bottomleft:38px; 					
    -moz-border-radius-bottomright:0px;  
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#e8122b; 
    background-image: -moz-linear-gradient(top, #e8122b 0%, #a51931 100%); 
    background-image: -webkit-linear-gradient(top, #e8122b 0%, #a51931 100%); 
    background-image: -o-linear-gradient(top, #e8122b 0%, #a51931 100%); 
    background-image: -ms-linear-gradient(top, #e8122b 0% ,#a51931 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51931', endColorstr='#a51931',GradientType=0 ); 
    background-image: linear-gradient(top, #e8122b 0% ,#a51931 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}


button.btn-shopping-cart{
    margin-left: -5px;
    text-decoration:none; 
    text-align:center; 
    padding:11px 29px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:0px 38px 38px 0px; 	 				 
    border-radius: 0px 38px 38px 0px; 					
    -moz-border-radius-topleft:0px; 					
    -moz-border-radius-topright:38px; 					
    -moz-border-radius-bottomleft:0px; 					
    -moz-border-radius-bottomright:38px;  
    font:18px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#379c08; 
    background-image: -moz-linear-gradient(top, #379c08 0%, #3aab05 100%); 
    background-image: -webkit-linear-gradient(top, #379c08 0%, #3aab05 100%); 
    background-image: -o-linear-gradient(top, #379c08 0%, #3aab05 100%); 
    background-image: -ms-linear-gradient(top, #379c08 0% ,#3aab05 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aab05', endColorstr='#3aab05',GradientType=0 ); 
    background-image: linear-gradient(top, #379c08 0% ,#3aab05 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

button.btn-icon{
    text-decoration:none; 
    text-align:center; 
    padding:9px 7px; 
    border:none; 
    -webkit-border-radius:50px;
    -moz-border-radius:50px; 
    border-radius: 50px; 
    font:20px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#101212; 
    background:#ffffff; 
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  

    text-shadow: 0px 1px 0px #ffffff; 
    filter: dropshadow(color=#ffffff, offx=0, offy=1);
    margin-right: 20px;

    max-height: 40px;
    max-width: 40px;
}

.reklama1{
    height: 200px;
    width: 100%;
}

.reklama2{
    height: 150px;
    width: 100%;
}

.myheader{
    margin-bottom: 0;
    padding: 0;
}

.article{
    float:left; 
    padding-right: 10px;
    margin-bottom: 20px;
    max-height: 500px;
    max-width: 700px;
}

.row-sale{
    background-color: #FF6347;
    background-image:  url(/images/sale07.jpg);
}

.row-sale2{
    background-color: #FFFF00;
}

.sale01{
    padding-top: 20px;
}

.margin-top{
    margin-top: 30px;
}

.margin-top-5{
    margin-top: -5px !important;
}
.margin-sale{
    margin-top: -50px;
}

.marginBottom{
    margin-bottom: 20px;
}

.reviewed{
    border: 2px solid gray; /* Параметры границы */
    background: #B22222; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    margin-bottom: 20px;
}

.row{
    margin-top: 20px;
}

.dropdown-my{
   /* float: right;
    margin-left: 4px;
    width: 120px;
   */
}

.color-filter-goods{
   /* background-color: #E0EEEE;*/
}

.filter-goods{
    /*position: relative;
    margin: 0px auto;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: x-large;
    color: #838B8B;
    */
}

.text-size6{
 font-size: xx-large;
 color: #8AA8BD;
 text-align-last: center;
 text-align: center;
}

.text-size3{
 font-size: large;
 color: #8AA8BD;
 text-align:  center;
}

.dropdownMy{
   /* Размер и позиционирование */
 position: relative;
 width: 100%;  /*200px;*/
 height: 100%;
 margin: 0 auto;
 padding: 10px;
 
 /* Стили */
 background: #fff;
 border: 0px;
}


.navbar-brand img{
    position: relative;
    height: 49px;
    width: 50px;
    top: -15px;
}

.my-navbar-size{
    height: 25px;
    background-color: #B22222 !important;
}

.color-text{
    color: white !important;
}

.navbar-logo-size{
    height: 8px;
    margin-top: 10px;
    position: relative;
    top: -45px;

}

.shopping-cart{
    color: white !important;
    font-size: 30px;
}

ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 30px; /* Отступ слева */
    height: 15px;
    position: relative;
    top: 5px;
}

.search-size {
    width: 400px  !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

li > a:hover {
    color: #800000; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline !important; /* Добавляем подчеркивание */
    background: none !important;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.phone-number {
}

.icon-info{
    display: none;
}

@media only screen and (max-width : 1199px){
    .search-size {
        width: 200px  !important;
    }
    ul.hr li {
        margin-right: 15px; /* Отступ слева */
    }
}

@media only screen and (max-width : 994px){
    .phone-number{
        display: none !important;
    }
    .nav > li > a {
        padding-right: 5px; 
        padding-left: 5px;
    }
    .shopping-cart{
        padding-right: 10px;
        padding-left: 10px;
    }
    .icon-info{
        display: block;
    }
    ul.hr li { /* Отображать как строчный элемент */
        margin-right: 10px;
        padding-left: 0px;
    }
    .navbar-logo-size{

    }
}

@media only screen and (max-width : 600px){

}

.hidden {
display: none;
}